@model SPaPS.Models.AccountModels.EditProfileInfoModel

@{
	ViewData["Title"] = "EditProfileInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ажурирајте лични податоци</h2>
<br />

<form asp-action="EditProfileInfo" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="IdNo" type="number" class="form-control" placeholder="IdNo">
                <label asp-for="IdNo"></label>
                <span asp-validation-for="IdNo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="ClientTypeId" asp-items="@ViewBag.ClientTypes" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="ClientTypeId"></label>
                <span asp-validation-for="ClientTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="PhoneNumber">
                <label asp-for="PhoneNumber"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                <label asp-for="Address"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="CityId" asp-items="@ViewBag.Cities" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="CityId"></label>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="CountryId" asp-items="@ViewBag.Countries" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="CountryId"></label>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
        </div>
        
         @if(Model.Role == "Изведувач"){
            <div class="col-md-3 col-6 Activities">
                <div class="form-floating mb-3">
                    <select asp-for="Activities" asp-items="@ViewBag.Activities" class="form-select dropdown-select">
                        <option value="">-- Избери --</option>
                    </select>
                    <label asp-for="Activities"></label>
                    <span asp-validation-for="Activities" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-6 NoOfEmployees">
                <div class="form-floating mb-3">
                    <input asp-for="NoOfEmployees" type="number" class="form-control" placeholder="NoOfEmployees">
                    <label asp-for="NoOfEmployees"></label>
                    <span asp-validation-for="NoOfEmployees" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-6 DateOfEstablishment">
                <div class="form-floating mb-3">
                    <input asp-for="DateOfEstablishment" type="date" class="form-control" placeholder="DateOfEstablishment">
                    <label asp-for="DateOfEstablishment"></label>
                    <span asp-validation-for="DateOfEstablishment" class="text-danger"></span>
                </div>
            </div>
         }

       
    </div>

    <button type="submit" class="btn btn-primary">Ажурирај</button>
</form>
<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>
