@model SPaPS.Models.AccountModels.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрирај се</h2>
<br />

<form asp-action="Register" method="post">
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                @Html.ValidationMessageFor(model => model.Email, null, new{ @class = "text -danger"})
                <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" required>
                <label asp-for="Email">Е-маил</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                 @Html.ValidationMessageFor(model => model.PhoneNumber, null, new{ @class = "text -danger"})
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="PhoneNumber" required>
                <label asp-for="PhoneNumber">Телефон</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                @Html.ValidationMessageFor(model => model.Name, null, new{ @class = "text -danger"})
                <input asp-for="Name" type="text" class="form-control" placeholder="Name"required>
                <label asp-for="Name">Име и презиме</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                @Html.ValidationMessageFor(model => model.Address, null, new{ @class = "text -danger"})
                <input asp-for="Address" type="text" class="form-control" placeholder="Address"required>
                <label asp-for="Address">Адреса</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                @Html.ValidationMessageFor(model => model.IdNo, null, new{ @class = "text -danger"})
                <input asp-for="IdNo" type="text" class="form-control" placeholder="IdNo" required>
                <label asp-for="IdNo">Ембг</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                @Html.ValidationMessageFor(model => model.ClientTypeId, null, new{ @class = "text -danger"})
                <input asp-for="ClientTypeId" type="text" class="form-control" placeholder="ClientTypeId" required>
                <label asp-for="ClientTypeId">Тип на корисник</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                @Html.ValidationMessageFor(model => model.CityId, null, new{ @class = "text -danger"})
                <input asp-for="CityId" type="text" class="form-control" placeholder="CityId" required>
                <label asp-for="CityId">Град</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                @Html.ValidationMessageFor(model => model.CountryId, null, new{ @class = "text -danger"})
                <input asp-for="CountryId" type="text" class="form-control" placeholder="CountryId" required>
                <label asp-for="CountryId">Држава</label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>
